/* General Styles */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 60px 0px 60px;
  background-color: white;
}

.logo_container{
  background-color: black;
  height: 40px;
  width: 150px;
  color: white;
  display: grid;
  place-items: center;
}



/* Desktop Styles */

    /* Search Styles */

.right_container{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  height: 40px;
}

.search_container{
  position: relative;
}

.search{
  box-sizing:border-box;
  padding-left: 30px;
  border-radius: 10px;
  border: none;
  width: 35vw;
  background-color: #EFEBFF;
  outline: none;
  height: 40px;
}

.search_button{
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  font-size: 25px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50%;
  background-color: #EFEBFF;
  cursor: pointer;
}

.search_button:hover{
  animation-name: left;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes left {
  25% {
      transform: rotate(-15deg);
  }
  50% {
      transform: rotate(15deg);
  }
  100% {
      transform: rotate(0deg);
  }
}



/* Likes Styles */

.like_button{
  display: grid;
  place-items: center;
  width: 40px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background-color:#EFEBFF;
  cursor: pointer;


  transform: rotate(0);
  transition: .3s ease;
}

.like_button:hover {
  transform: rotate(360deg);

}



/* Mobile Version Styles */

.search_mobile{
  width: 71.5vw;
}

.disable{
  display: none;
}


/* media queries */


@media screen and (max-width: 640px) {

  .logo_desktop{
    display: none;
  }

  .search_container_desktop {
    display: none;
  }

  .navbar{
    padding: 0 25px 0 25px;
  }

  .right_container{
    gap: 20px;
  }
}

@media screen and (min-width: 641px) {

  .search_container_mobile{
    display: none;
  }

  .logo_mobile{
    display: none;
  }
}